table tr.placeholder {
  height: 100px;
  list-style-type: none;
  position: relative;
  background-color: #eaeaea;
  box-shadow: 0px 0px 0px 1px rgba(39, 41, 43, 0.15), 0px 1px 2px 0 rgba(0, 0, 0, 0.05);
  margin: 1rem 0em;
  padding: 1em 1em;
  border-radius: 0.2857rem;
  border: none;
}

.ui-sortable .ui-sortable-item {
  float: none !important;
}

.ui-sortable-item div {
  display: inline-block;
}

/* line 9, /Volumes/xtra/projects/cloudrift/app/assets/stylesheets/main.sass */
.boxed {
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 auto;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
  padding: 1.5em 1.5em 0;
  width: 100%;
  min-height: auto !important;
}

/* line 18, /Volumes/xtra/projects/cloudrift/app/assets/stylesheets/main.sass */
.ui.main.container {
  padding-top: 108px;
}

/* line 21, /Volumes/xtra/projects/cloudrift/app/assets/stylesheets/main.sass */
.ui.grid.verticalPadded.container {
  margin-top: 2em;
}

/* line 24, /Volumes/xtra/projects/cloudrift/app/assets/stylesheets/main.sass */
body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 100%;
  min-height: 100%;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 41, /Volumes/xtra/projects/cloudrift/app/assets/stylesheets/main.sass */
body > footer {
  -webkit-box-flex: 0;
  -webkit-flex: none;
  -ms-flex: none;
  flex: none;
  display: block;
}
/* line 48, /Volumes/xtra/projects/cloudrift/app/assets/stylesheets/main.sass */
body > .top.menu {
  border: 0;
  -webkit-box-flex: 0;
  -webkit-flex: none;
  -ms-flex: none;
  flex: none;
  position: relative;
}

/* line 57, /Volumes/xtra/projects/cloudrift/app/assets/stylesheets/main.sass */
#top-menu-links {
  display: inline !important;
}
/* line 60, /Volumes/xtra/projects/cloudrift/app/assets/stylesheets/main.sass */
#top-menu-links > div {
  display: inline;
}
/* line 63, /Volumes/xtra/projects/cloudrift/app/assets/stylesheets/main.sass */
#top-menu-links > div > a {
  display: inline-block;
  font-size: 11.2px;
}

/* line 67, /Volumes/xtra/projects/cloudrift/app/assets/stylesheets/main.sass */
#top-inverted-menu-container {
  display: block;
}

/* line 70, /Volumes/xtra/projects/cloudrift/app/assets/stylesheets/main.sass */
#top-inverted-menu-left {
  display: block;
  float: left;
  margin-right: 0 !important;
  font-size: 0;
}
/* line 77, /Volumes/xtra/projects/cloudrift/app/assets/stylesheets/main.sass */
#top-inverted-menu-left .ui.dropdown .menu {
  font-size: 1.2em;
}
/* line 80, /Volumes/xtra/projects/cloudrift/app/assets/stylesheets/main.sass */
#top-inverted-menu-left a.main, #top-inverted-menu-left div.item {
  display: inline-block;
  height: 37px;
  font-size: 11.2px;
  line-height: 1.25rem;
}

/* line 86, /Volumes/xtra/projects/cloudrift/app/assets/stylesheets/main.sass */
#top-inverted-menu-right {
  display: block;
  float: right;
}
/* line 90, /Volumes/xtra/projects/cloudrift/app/assets/stylesheets/main.sass */
#top-inverted-menu-right .item:before {
  display: none;
}

@media screen and (max-width: 769px) {
  /* line 95, /Volumes/xtra/projects/cloudrift/app/assets/stylesheets/main.sass */
  #top-menu-links > div > a {
    font-size: 1.2rem;
  }

  /* line 99, /Volumes/xtra/projects/cloudrift/app/assets/stylesheets/main.sass */
  #top-inverted-menu-left a, #top-inverted-menu-right a {
    font-size: 1.2rem;
  }

  /* line 102, /Volumes/xtra/projects/cloudrift/app/assets/stylesheets/main.sass */
  #top-inverted-menu-right {
    margin-top: 1rem;
  }
}
/* line 105, /Volumes/xtra/projects/cloudrift/app/assets/stylesheets/main.sass */
.padding-top {
  margin-top: 5.5em !important;
}

/* line 108, /Volumes/xtra/projects/cloudrift/app/assets/stylesheets/main.sass */
.padding-top-tiny {
  margin-top: 2em !important;
}

/* line 111, /Volumes/xtra/projects/cloudrift/app/assets/stylesheets/main.sass */
.padding-bottom {
  padding-bottom: 3.5em !important;
}

/* line 114, /Volumes/xtra/projects/cloudrift/app/assets/stylesheets/main.sass */
.padding-bottom-tiny {
  padding-bottom: 2em !important;
}

/* line 117, /Volumes/xtra/projects/cloudrift/app/assets/stylesheets/main.sass */
.pointer {
  cursor: pointer;
}

/* line 121, /Volumes/xtra/projects/cloudrift/app/assets/stylesheets/main.sass */
p.big {
  font-size: 1.2em;
}

/* line 124, /Volumes/xtra/projects/cloudrift/app/assets/stylesheets/main.sass */
.control.middle.aligned {
  position: absolute;
  top: 50%;
}

/* line 128, /Volumes/xtra/projects/cloudrift/app/assets/stylesheets/main.sass */
.bolded {
  font-weight: bold !important;
}

/* line 131, /Volumes/xtra/projects/cloudrift/app/assets/stylesheets/main.sass */
.uppercase {
  text-transform: uppercase !important;
}

/* line 134, /Volumes/xtra/projects/cloudrift/app/assets/stylesheets/main.sass */
.left.aligned.item {
  text-align: left;
}

/* line 137, /Volumes/xtra/projects/cloudrift/app/assets/stylesheets/main.sass */
#logo {
  display: inline-block;
  background: url(/images/logo.svg) no-repeat 0px 0px;
  background-size: 165px 30px;
  width: 165px;
  height: 35px;
}

/* line 144, /Volumes/xtra/projects/cloudrift/app/assets/stylesheets/main.sass */
.price .ui.list .list > .item .description, .ui.list > .item .description {
  color: #86888b;
  margin-bottom: 4px;
}

/* line 148, /Volumes/xtra/projects/cloudrift/app/assets/stylesheets/main.sass */
.track img.ui.red.bordered.image {
  border: 2px solid #e31c20;
}

/* line 151, /Volumes/xtra/projects/cloudrift/app/assets/stylesheets/main.sass */
.ui.distance.list {
  margin-left: 3em;
}
/* line 154, /Volumes/xtra/projects/cloudrift/app/assets/stylesheets/main.sass */
.ui.distance.list .item {
  margin-left: 0;
  margin-top: 1.3em;
  min-width: 30%;
}

/* line 159, /Volumes/xtra/projects/cloudrift/app/assets/stylesheets/main.sass */
.ui.distance.sub.header {
  font-size: 0.67em;
}

/* line 162, /Volumes/xtra/projects/cloudrift/app/assets/stylesheets/main.sass */
.ui.distance.menu {
  margin-top: 2em;
  border: 1px solid rgba(34, 36, 38, 0.15);
}

/* line 166, /Volumes/xtra/projects/cloudrift/app/assets/stylesheets/main.sass */
.ui.verticalPadded.grid {
  padding: 0.6em 0 0.6em;
}

/* line 170, /Volumes/xtra/projects/cloudrift/app/assets/stylesheets/main.sass */
.ui.very.basic.schedule.table tr {
  border-bottom: none;
}

/* line 173, /Volumes/xtra/projects/cloudrift/app/assets/stylesheets/main.sass */
.ui.horizontal.info.list {
  width: 100%;
}
/* line 175, /Volumes/xtra/projects/cloudrift/app/assets/stylesheets/main.sass */
.ui.horizontal.info.list .item:not(:first-child) {
  padding-left: 1em;
}
/* line 177, /Volumes/xtra/projects/cloudrift/app/assets/stylesheets/main.sass */
.ui.horizontal.info.list .item, .ui.horizontal.info.list .item:last-child {
  min-width: 30%;
  padding-top: 1em;
  padding-bottom: 1em;
}
/* line 181, /Volumes/xtra/projects/cloudrift/app/assets/stylesheets/main.sass */
.ui.horizontal.info.list .sub.header {
  margin-bottom: 0.5em;
}
/* line 183, /Volumes/xtra/projects/cloudrift/app/assets/stylesheets/main.sass */
.ui.horizontal.info.list .value {
  font-size: 0.9em;
}

/* line 186, /Volumes/xtra/projects/cloudrift/app/assets/stylesheets/main.sass */
.welcome {
  background: url(/bg.png) no-repeat 50% 0;
  background-origin: padding-box;
  background-size: auto;
  height: 719px;
}
/* line 192, /Volumes/xtra/projects/cloudrift/app/assets/stylesheets/main.sass */
.welcome h1.ui.header {
  font-family: "HelveticaNeue", Arial, sans-serif;
  margin-top: 130px;
  font-size: 3.8em;
}
/* line 197, /Volumes/xtra/projects/cloudrift/app/assets/stylesheets/main.sass */
.welcome h2.ui.header {
  margin-top: 57px;
  font-weight: normal;
  font-size: 2.7rem;
  text-transform: uppercase;
}
/* line 203, /Volumes/xtra/projects/cloudrift/app/assets/stylesheets/main.sass */
.welcome h3.ui.header {
  margin-top: 20px;
  margin-bottom: 60px;
  font-weight: normal;
  font-size: 1.5rem;
}

@media (max-width: 1023px) {
  /* line 210, /Volumes/xtra/projects/cloudrift/app/assets/stylesheets/main.sass */
  .welcome {
    height: 450px;
    background: url(/bg.png) no-repeat 0 0;
  }
  /* line 212, /Volumes/xtra/projects/cloudrift/app/assets/stylesheets/main.sass */
  .welcome h1.ui.header {
    font-size: 2em;
    margin-top: 50px;
  }
  /* line 215, /Volumes/xtra/projects/cloudrift/app/assets/stylesheets/main.sass */
  .welcome h2.ui.header {
    font-size: 1.5em;
  }

  /* line 219, /Volumes/xtra/projects/cloudrift/app/assets/stylesheets/main.sass */
  #top-inverted-menu-left {
    float: none;
  }
  /* line 222, /Volumes/xtra/projects/cloudrift/app/assets/stylesheets/main.sass */
  #top-inverted-menu-left a.item {
    display: block;
    width: 100%;
    text-align: center;
  }
  /* line 227, /Volumes/xtra/projects/cloudrift/app/assets/stylesheets/main.sass */
  #top-inverted-menu-left a.item:before {
    display: none;
  }

  /* line 230, /Volumes/xtra/projects/cloudrift/app/assets/stylesheets/main.sass */
  #top-inverted-menu-right {
    float: none;
    text-align: center;
  }
  /* line 234, /Volumes/xtra/projects/cloudrift/app/assets/stylesheets/main.sass */
  #top-inverted-menu-right .item {
    display: block;
    margin-bottom: 10px;
  }

  /* line 238, /Volumes/xtra/projects/cloudrift/app/assets/stylesheets/main.sass */
  #top-inverted-menu-container {
    width: 100% !important;
    float: none;
  }

  /* line 242, /Volumes/xtra/projects/cloudrift/app/assets/stylesheets/main.sass */
  #mainmenu-container {
    padding-left: 0;
    padding-right: 0;
  }

  /* line 246, /Volumes/xtra/projects/cloudrift/app/assets/stylesheets/main.sass */
  body > .boxed > .container {
    padding-top: 70px;
  }
}
/* line 249, /Volumes/xtra/projects/cloudrift/app/assets/stylesheets/main.sass */
.info-block {
  border-bottom: 1px solid rgba(34, 36, 38, 0.15);
}

/* line 252, /Volumes/xtra/projects/cloudrift/app/assets/stylesheets/main.sass */
.ui.segment.result-buttons {
  padding: 3em 0 3em;
}

/* line 255, /Volumes/xtra/projects/cloudrift/app/assets/stylesheets/main.sass */
.contacts {
  font-size: 1.2em;
}

/* line 258, /Volumes/xtra/projects/cloudrift/app/assets/stylesheets/main.sass */
.socials {
  line-height: 5;
}

@media (max-width: 1023px) {
  /* line 262, /Volumes/xtra/projects/cloudrift/app/assets/stylesheets/main.sass */
  .track {
    max-width: 100%;
  }

  /* line 266, /Volumes/xtra/projects/cloudrift/app/assets/stylesheets/main.sass */
  body > .top.menu {
    position: fixed;
  }

  /* line 270, /Volumes/xtra/projects/cloudrift/app/assets/stylesheets/main.sass */
  #sign-forms a {
    display: block;
  }
  /* line 273, /Volumes/xtra/projects/cloudrift/app/assets/stylesheets/main.sass */
  #sign-forms a:first-child {
    margin-bottom: 1em;
  }
}
@media (max-width: 500px) {
  /* line 278, /Volumes/xtra/projects/cloudrift/app/assets/stylesheets/main.sass */
  .track {
    max-width: 100%;
  }

  /* line 282, /Volumes/xtra/projects/cloudrift/app/assets/stylesheets/main.sass */
  .boxed > .container {
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
  }

  /* line 286, /Volumes/xtra/projects/cloudrift/app/assets/stylesheets/main.sass */
  body > .top.menu {
    position: static !important;
  }
}
@media (min-width: 1024px) {
  /* line 291, /Volumes/xtra/projects/cloudrift/app/assets/stylesheets/main.sass */
  #sign-forms a.enter {
    padding: 0.4rem;
    margin: -0.4rem 0.3rem;
  }

  /* line 295, /Volumes/xtra/projects/cloudrift/app/assets/stylesheets/main.sass */
  .socials .ui.large.button {
    width: 30%;
  }

  /* line 298, /Volumes/xtra/projects/cloudrift/app/assets/stylesheets/main.sass */
  #mainmenu-container {
    margin-top: 37px;
  }

  /* line 301, /Volumes/xtra/projects/cloudrift/app/assets/stylesheets/main.sass */
  #main-nav {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
  }

  /* line 307, /Volumes/xtra/projects/cloudrift/app/assets/stylesheets/main.sass */
  #mainmenu-parent {
    position: static;
  }

  /* line 311, /Volumes/xtra/projects/cloudrift/app/assets/stylesheets/main.sass */
  body > .top.menu {
    position: fixed;
    height: 108px;
  }
}
/* line 315, /Volumes/xtra/projects/cloudrift/app/assets/stylesheets/main.sass */
body footer {
  position: relative !important;
}

/* line 318, /Volumes/xtra/projects/cloudrift/app/assets/stylesheets/main.sass */
.footer {
  margin-bottom: 0 !important;
}
/* line 320, /Volumes/xtra/projects/cloudrift/app/assets/stylesheets/main.sass */
.footer a {
  color: #fff;
  text-decoration: underline;
}

/* line 324, /Volumes/xtra/projects/cloudrift/app/assets/stylesheets/main.sass */
.ui.menu.shadow {
  -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
  -khtml-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
  -ms-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
  -o-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
}

/* line 332, /Volumes/xtra/projects/cloudrift/app/assets/stylesheets/main.sass */
#main-nav {
  font-size: 0.8em;
}

/* line 335, /Volumes/xtra/projects/cloudrift/app/assets/stylesheets/main.sass */
.ui.basic.table th, .ui.basic.table td {
  max-width: 210px;
}

/* line 338, /Volumes/xtra/projects/cloudrift/app/assets/stylesheets/main.sass */
.ui.selection.dropdown {
  min-width: 12em !important;
}
/* line 340, /Volumes/xtra/projects/cloudrift/app/assets/stylesheets/main.sass */
.ui.selection.dropdown .menu {
  margin-bottom: 12px !important;
}

/* line 343, /Volumes/xtra/projects/cloudrift/app/assets/stylesheets/main.sass */
.boxed {
  padding-bottom: 0 !important;
}
/* line 346, /Volumes/xtra/projects/cloudrift/app/assets/stylesheets/main.sass */
.boxed > .container {
  margin-bottom: 50px;
}

/* line 349, /Volumes/xtra/projects/cloudrift/app/assets/stylesheets/main.sass */
.ui.cards > .card > .content, .ui.card > .content {
  overflow: hidden;
}

@media only screen and (max-width: 767px) {
  /* line 353, /Volumes/xtra/projects/cloudrift/app/assets/stylesheets/main.sass */
  body .ui.stackable.cards {
    width: 100% !important;
    overflow: hidden;
  }
}
/* line 357, /Volumes/xtra/projects/cloudrift/app/assets/stylesheets/main.sass */
.description, .meet_card_title, .break-word {
  word-break: break-word;
  word-wrap: break-word;
  display: block;
}

/* line 363, /Volumes/xtra/projects/cloudrift/app/assets/stylesheets/main.sass */
.ui.card .ui.green.bottom.attached.button {
  padding-left: 0;
  padding-right: 0;
}

/* line 367, /Volumes/xtra/projects/cloudrift/app/assets/stylesheets/main.sass */
.ui.table.zebra tbody tr:nth-child(4n+1) {
  background-color: rgba(0, 0, 0, 0.05) !important;
}

/* line 370, /Volumes/xtra/projects/cloudrift/app/assets/stylesheets/main.sass */
.ui-sortable-item div {
  display: inherit;
}

/* line 373, /Volumes/xtra/projects/cloudrift/app/assets/stylesheets/main.sass */
.ui-sortable-item {
  padding: 1em;
  border: 1px solid #d4d4d5;
  border-top: none;
}

/* line 378, /Volumes/xtra/projects/cloudrift/app/assets/stylesheets/main.sass */
.ui-sortable-item:first-child {
  border-top: 1px solid #d4d4d5;
}
/* line 10, /Volumes/xtra/projects/cloudrift/app/assets/stylesheets/menu.sass */
#mainmenu-parent .ui.secondary.menu {
  border: none;
}
/* line 11, /Volumes/xtra/projects/cloudrift/app/assets/stylesheets/menu.sass */
#mainmenu-parent .ui.secondary.menu .item {
  text-transform: uppercase;
  font-weight: 600;
}
/* line 15, /Volumes/xtra/projects/cloudrift/app/assets/stylesheets/menu.sass */
#mainmenu-parent .ui.secondary.menu .item:hover {
  border-bottom-color: #0067A9;
}

/* line 21, /Volumes/xtra/projects/cloudrift/app/assets/stylesheets/menu.sass */
#mainmenu-container .ui.verticalPadded.grid {
  padding: 0;
  width: 100% !important;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background: #fff;
  margin: 0 !important;
}

/* line 30, /Volumes/xtra/projects/cloudrift/app/assets/stylesheets/menu.sass */
a#under-logo {
  display: block;
  width: 173px;
  height: 28px;
  margin-top: 4px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  color: black;
  text-decoration: none;
  transform: skewX(-19deg);
  outline: none;
  border-radius: 4px;
  border: 1px solid #BEBEBE;
  position: relative;
  z-index: 1;
  font-weight: bold;
  font-family: "DINpro", "Helvetica Neue", Arial, Helvetica, sans-serif;
  line-height: 24px;
  font-size: 13px;
  padding-left: 28px;
}

/* line 54, /Volumes/xtra/projects/cloudrift/app/assets/stylesheets/menu.sass */
#burger-check {
  display: block;
  margin-top: 0.6em;
  display: none;
}

/* line 59, /Volumes/xtra/projects/cloudrift/app/assets/stylesheets/menu.sass */
#mainmenu-parent {
  overflow: hidden;
  display: block;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
}

/* line 67, /Volumes/xtra/projects/cloudrift/app/assets/stylesheets/menu.sass */
.burger-check:checked ~ #mainmenu-parent {
  display: block;
}

/* line 70, /Volumes/xtra/projects/cloudrift/app/assets/stylesheets/menu.sass */
#mainmenu-parent ul {
  text-align: center;
  display: block;
  font-size: 0;
  padding: 1rem 0 0;
}
/* line 76, /Volumes/xtra/projects/cloudrift/app/assets/stylesheets/menu.sass */
#mainmenu-parent ul li {
  display: inline-block;
  font-size: 0.92857rem;
}

/* line 80, /Volumes/xtra/projects/cloudrift/app/assets/stylesheets/menu.sass */
.burger {
  display: none;
}

@media (min-width: 1024px) {
  /* line 85, /Volumes/xtra/projects/cloudrift/app/assets/stylesheets/menu.sass */
  #mainmenu-parent {
    width: 81.25% !important;
  }
}
@media (max-width: 1023px) {
  /* line 89, /Volumes/xtra/projects/cloudrift/app/assets/stylesheets/menu.sass */
  #mainmenu-parent {
    display: none;
  }
  /* line 92, /Volumes/xtra/projects/cloudrift/app/assets/stylesheets/menu.sass */
  #mainmenu-parent ul {
    padding: 0;
  }

  /* line 95, /Volumes/xtra/projects/cloudrift/app/assets/stylesheets/menu.sass */
  #mainmenu-container {
    width: 100% !important;
  }

  /* line 99, /Volumes/xtra/projects/cloudrift/app/assets/stylesheets/menu.sass */
  #mainmenu-container .ui.verticalPadded.grid {
    justify-content: space-between;
  }

  /* line 102, /Volumes/xtra/projects/cloudrift/app/assets/stylesheets/menu.sass */
  #logo-container {
    width: auto !important;
  }
  /* line 105, /Volumes/xtra/projects/cloudrift/app/assets/stylesheets/menu.sass */
  #logo-container a {
    display: block;
  }

  /* line 108, /Volumes/xtra/projects/cloudrift/app/assets/stylesheets/menu.sass */
  .burger {
    display: block;
    position: relative;
    float: left;
    border: 0;
    background: none;
    outline: 0;
    padding: 20px 20px 21px;
    cursor: pointer;
    width: 28px !important;
    height: 26px;
    box-sizing: content-box;
  }
  /* line 121, /Volumes/xtra/projects/cloudrift/app/assets/stylesheets/menu.sass */
  .burger:before, .burger:after {
    content: "";
    display: block;
    position: absolute;
    left: 14px;
    width: 28px;
  }
  /* line 128, /Volumes/xtra/projects/cloudrift/app/assets/stylesheets/menu.sass */
  .burger:before {
    top: 20px;
    height: 14px;
    border-bottom: 4px solid #202124;
    border-top: 4px solid #202124;
    z-index: 2;
  }
  /* line 135, /Volumes/xtra/projects/cloudrift/app/assets/stylesheets/menu.sass */
  .burger:after {
    z-index: 3;
    border-top: 4px solid #202124;
    top: 29px;
    height: 0;
  }
}
@media (max-width: 500px) {
  /* line 142, /Volumes/xtra/projects/cloudrift/app/assets/stylesheets/menu.sass */
  #mainmenu-parent {
    display: none;
  }

  /* line 145, /Volumes/xtra/projects/cloudrift/app/assets/stylesheets/menu.sass */
  #mainmenu-container {
    padding-left: 0;
    padding-right: 0;
  }
  /* line 149, /Volumes/xtra/projects/cloudrift/app/assets/stylesheets/menu.sass */
  #mainmenu-container > .container {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}
@media screen and (max-width: 769px) {
  /* line 154, /Volumes/xtra/projects/cloudrift/app/assets/stylesheets/menu.sass */
  #mainmenu-parent ul li, #mainmenu-parent ul li a {
    display: block;
    margin-left: 0;
    margin-right: 0;
    font-size: 1.2rem;
  }
}
/**
 * React Select
 * ============
 * Created by Jed Watson and Joss Mackison for KeystoneJS, http://www.keystonejs.com/
 * https://twitter.com/jedwatson https://twitter.com/jossmackison https://twitter.com/keystonejs
 * MIT License: https://github.com/keystonejs/react-select
*/

.Select {
  position: relative;
}
.Select,
.Select div,
.Select input,
.Select span {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.Select.is-disabled > .Select-control {
  background-color: #f9f9f9;
}
.Select.is-disabled > .Select-control:hover {
  box-shadow: none;
}
.Select.is-disabled .Select-arrow-zone {
  cursor: default;
  pointer-events: none;
}
.Select-control {
  background-color: #fff;
  border-color: #d9d9d9 #ccc #b3b3b3;
  border-radius: 4px;
  border: 1px solid #ccc;
  color: #333;
  cursor: default;
  display: table;
  height: 36px;
  outline: none;
  overflow: hidden;
  position: relative;
  width: 100%;
}
.Select-control:hover {
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.06);
}
.is-searchable.is-open > .Select-control {
  cursor: text;
}
.is-open > .Select-control {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  background: #fff;
  border-color: #b3b3b3 #ccc #d9d9d9;
}
.is-open > .Select-control > .Select-arrow {
  border-color: transparent transparent #999;
  border-width: 0 5px 5px;
}
.is-searchable.is-focused:not(.is-open) > .Select-control {
  cursor: text;
}
.is-focused:not(.is-open) > .Select-control {
  border-color: #007eff;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 0 3px rgba(0, 126, 255, 0.1);
}
.Select-placeholder,
:not(.Select--multi) > .Select-control .Select-value {
  bottom: 0;
  color: #aaa;
  left: 0;
  line-height: 34px;
  padding-left: 10px;
  padding-right: 10px;
  position: absolute;
  right: 0;
  top: 0;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.has-value:not(.Select--multi) > .Select-control > .Select-value .Select-value-label,
.has-value.is-pseudo-focused:not(.Select--multi) > .Select-control > .Select-value .Select-value-label {
  color: #333;
}
.has-value:not(.Select--multi) > .Select-control > .Select-value a.Select-value-label,
.has-value.is-pseudo-focused:not(.Select--multi) > .Select-control > .Select-value a.Select-value-label {
  cursor: pointer;
  text-decoration: none;
}
.has-value:not(.Select--multi) > .Select-control > .Select-value a.Select-value-label:hover,
.has-value.is-pseudo-focused:not(.Select--multi) > .Select-control > .Select-value a.Select-value-label:hover,
.has-value:not(.Select--multi) > .Select-control > .Select-value a.Select-value-label:focus,
.has-value.is-pseudo-focused:not(.Select--multi) > .Select-control > .Select-value a.Select-value-label:focus {
  color: #007eff;
  outline: none;
  text-decoration: underline;
}
.Select-input {
  height: 34px;
  padding-left: 10px;
  padding-right: 10px;
  vertical-align: middle;
}
.Select-input > input {
  width: 100%;
  background: none transparent;
  border: 0 none;
  box-shadow: none;
  cursor: default;
  display: inline-block;
  font-family: inherit;
  font-size: inherit;
  height: 34px;
  margin: 0;
  outline: none;
  padding: 0;
  -webkit-appearance: none;
  border: none !important;
}
.is-focused .Select-input > input {
  cursor: text;
}
.has-value.is-pseudo-focused .Select-input {
  opacity: 0;
}
.Select-control:not(.is-searchable) > .Select-input {
  outline: none;
}
.Select-loading-zone {
  cursor: pointer;
  display: table-cell;
  position: relative;
  text-align: center;
  vertical-align: middle;
  width: 16px;
}
.Select-loading {
  -webkit-animation: Select-animation-spin 400ms infinite linear;
  -o-animation: Select-animation-spin 400ms infinite linear;
  animation: Select-animation-spin 400ms infinite linear;
  width: 16px;
  height: 16px;
  box-sizing: border-box;
  border-radius: 50%;
  border: 2px solid #ccc;
  border-right-color: #333;
  display: inline-block;
  position: relative;
  vertical-align: middle;
}
.Select-clear-zone {
  -webkit-animation: Select-animation-fadeIn 200ms;
  -o-animation: Select-animation-fadeIn 200ms;
  animation: Select-animation-fadeIn 200ms;
  color: #999;
  cursor: pointer;
  display: table-cell;
  position: relative;
  text-align: center;
  vertical-align: middle;
  width: 17px;
}
.Select-clear-zone:hover {
  color: #D0021B;
}
.Select-clear {
  display: inline-block;
  font-size: 18px;
  line-height: 1;
}
.Select--multi .Select-clear-zone {
  width: 17px;
}
.Select-arrow-zone {
  cursor: pointer;
  display: table-cell;
  position: relative;
  text-align: center;
  vertical-align: middle;
  width: 25px;
  padding-right: 5px;
}
.Select-arrow {
  border-color: #999 transparent transparent;
  border-style: solid;
  border-width: 5px 5px 2.5px;
  display: inline-block;
  height: 0;
  width: 0;
}
.is-open .Select-arrow,
.Select-arrow-zone:hover > .Select-arrow {
  border-top-color: #666;
}
@-webkit-keyframes Select-animation-fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes Select-animation-fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.Select-menu-outer {
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-top-color: #e6e6e6;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.06);
  box-sizing: border-box;
  margin-top: -1px;
  max-height: 200px;
  position: absolute;
  top: 100%;
  width: 100%;
  z-index: 1000;
  -webkit-overflow-scrolling: touch;
}
.Select-menu {
  max-height: 198px;
  overflow-y: auto;
}
.Select-option {
  box-sizing: border-box;
  background-color: #fff;
  color: #666666;
  cursor: pointer;
  display: block;
  padding: 8px 10px;
}
.Select-option:last-child {
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}
.Select-option.is-focused {
  background-color: rgba(0, 126, 255, 0.08);
  color: #333;
}
.Select-option.is-disabled {
  color: #cccccc;
  cursor: default;
}
.Select-noresults {
  box-sizing: border-box;
  color: #999999;
  cursor: default;
  display: block;
  padding: 8px 10px;
}
.Select--multi .Select-input {
  vertical-align: middle;
  margin-left: 10px;
  padding: 0;
}
.Select--multi.has-value .Select-input {
  margin-left: 5px;
}
.Select--multi .Select-value {
  background-color: rgba(0, 126, 255, 0.08);
  border-radius: 2px;
  border: 1px solid rgba(0, 126, 255, 0.24);
  color: #007eff;
  display: inline-block;
  font-size: 0.9em;
  line-height: 1.4;
  margin-left: 5px;
  margin-top: 5px;
  vertical-align: top;
}
.Select--multi .Select-value-icon,
.Select--multi .Select-value-label {
  display: inline-block;
  vertical-align: middle;
}
.Select--multi .Select-value-label {
  border-bottom-right-radius: 2px;
  border-top-right-radius: 2px;
  cursor: default;
  padding: 2px 5px;
}
.Select--multi a.Select-value-label {
  color: #007eff;
  cursor: pointer;
  text-decoration: none;
}
.Select--multi a.Select-value-label:hover {
  text-decoration: underline;
}
.Select--multi .Select-value-icon {
  cursor: pointer;
  border-bottom-left-radius: 2px;
  border-top-left-radius: 2px;
  border-right: 1px solid rgba(0, 126, 255, 0.24);
  padding: 1px 5px 3px;
}
.Select--multi .Select-value-icon:hover,
.Select--multi .Select-value-icon:focus {
  background-color: rgba(0, 113, 230, 0.08);
  color: #0071e6;
}
.Select--multi .Select-value-icon:active {
  background-color: rgba(0, 126, 255, 0.24);
}
.Select--multi.is-disabled .Select-value {
  background-color: #fcfcfc;
  border: 1px solid #e3e3e3;
  color: #333;
}
.Select--multi.is-disabled .Select-value-icon {
  cursor: not-allowed;
  border-right: 1px solid #e3e3e3;
}
.Select--multi.is-disabled .Select-value-icon:hover,
.Select--multi.is-disabled .Select-value-icon:focus,
.Select--multi.is-disabled .Select-value-icon:active {
  background-color: #fcfcfc;
}
@keyframes Select-animation-spin {
  to {
    transform: rotate(1turn);
  }
}
@-webkit-keyframes Select-animation-spin {
  to {
    -webkit-transform: rotate(1turn);
  }
}
@media (min-width: 480px) {
  .page-body,
  .page-header {
    padding: 60px 0;
  }
  .page-header {
    font-size: 1.4em;
  }
  .page-subheader {
    font-size: 1.125em;
    line-height: 28px;
  }
}
.checkbox-list {
  margin-top: .5em;
  overflow: hidden;
}
.checkbox-list > .checkbox {
  clear: left;
  float: left;
  margin-top: .5em;
}
.checkbox-control {
  margin-right: .5em;
  position: relative;
  top: -1px;
}
.switcher {
  color: #999;
  cursor: default;
  font-size: 12px;
  margin: 10px 0;
  text-transform: uppercase;
}
.switcher .link {
  color: #007eff;
  cursor: pointer;
  font-weight: bold;
  margin-left: 10px;
}
.switcher .link:hover {
  text-decoration: underline;
}
.switcher .active {
  color: #666;
  font-weight: bold;
  margin-left: 10px;
}
.section {
  margin-bottom: 40px;
}
.hint {
  font-size: .85em;
  margin: 15px 0;
  color: #666;
}

/* Base styles for the element that has a tooltip */

[data-tooltip],
.tooltip {
  position: relative;
  cursor: pointer;
  text-align: center;
}

/* Base styles for the entire tooltip */
[data-tooltip]:before,
[data-tooltip]:after,
.tooltip:before,
.tooltip:after {
  position: absolute;
  visibility: hidden;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -webkit-transition:
	  opacity 0.2s ease-in-out,
		visibility 0.2s ease-in-out,
		-webkit-transform 0.2s cubic-bezier(0.71, 1.7, 0.77, 1.24);
	-moz-transition:
		opacity 0.2s ease-in-out,
		visibility 0.2s ease-in-out,
		-moz-transform 0.2s cubic-bezier(0.71, 1.7, 0.77, 1.24);
	transition:
		opacity 0.2s ease-in-out,
		visibility 0.2s ease-in-out,
		transform 0.2s cubic-bezier(0.71, 1.7, 0.77, 1.24);
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform:    translate3d(0, 0, 0);
  transform:         translate3d(0, 0, 0);
  pointer-events: none;
}

/* Show the entire tooltip on hover and focus */
[data-tooltip]:hover:before,
[data-tooltip]:hover:after,
[data-tooltip]:focus:before,
[data-tooltip]:focus:after,
.tooltip:hover:before,
.tooltip:hover:after,
.tooltip:focus:before,
.tooltip:focus:after {
  visibility: visible;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}

/* Base styles for the tooltip's directional arrow */
.tooltip:before,
[data-tooltip]:before {
  z-index: 1001;
  border: 6px solid transparent;
  background: transparent;
  content: "";
}

/* Base styles for the tooltip's content area */
.tooltip:after,
[data-tooltip]:after {
  z-index: 1000;
  padding: 8px;
  width: 160px;
  background-color: #000;
  background-color: hsla(0, 0%, 20%, 0.9);
  color: #fff;
  content: attr(data-tooltip);
  font-size: 14px;
  line-height: 1.2;
}

/* Directions */

/* Top (default) */
[data-tooltip]:before,
[data-tooltip]:after,
.tooltip:before,
.tooltip:after,
.tooltip-top:before,
.tooltip-top:after {
  bottom: 100%;
  left: 50%;
}

[data-tooltip]:before,
.tooltip:before,
.tooltip-top:before {
  margin-left: -6px;
  margin-bottom: -12px;
  border-top-color: #000;
  border-top-color: hsla(0, 0%, 20%, 0.9);
}

/* Horizontally align top/bottom tooltips */
[data-tooltip]:after,
.tooltip:after,
.tooltip-top:after {
  margin-left: -80px;
}

[data-tooltip]:hover:before,
[data-tooltip]:hover:after,
[data-tooltip]:focus:before,
[data-tooltip]:focus:after,
.tooltip:hover:before,
.tooltip:hover:after,
.tooltip:focus:before,
.tooltip:focus:after,
.tooltip-top:hover:before,
.tooltip-top:hover:after,
.tooltip-top:focus:before,
.tooltip-top:focus:after {
  -webkit-transform: translateY(-12px);
  -moz-transform:    translateY(-12px);
  transform:         translateY(-12px);
}

/* Left */
.tooltip-left:before,
.tooltip-left:after {
  right: 100%;
  bottom: 50%;
  left: auto;
}

.tooltip-left:before {
  margin-left: 0;
  margin-right: -12px;
  margin-bottom: 0;
  border-top-color: transparent;
  border-left-color: #000;
  border-left-color: hsla(0, 0%, 20%, 0.9);
}

.tooltip-left:hover:before,
.tooltip-left:hover:after,
.tooltip-left:focus:before,
.tooltip-left:focus:after {
  -webkit-transform: translateX(-12px);
  -moz-transform:    translateX(-12px);
  transform:         translateX(-12px);
}

/* Bottom */
.tooltip-bottom:before,
.tooltip-bottom:after {
  top: 100%;
  bottom: auto;
  left: 50%;
}

.tooltip-bottom:before {
  margin-top: -12px;
  margin-bottom: 0;
  border-top-color: transparent;
  border-bottom-color: #000;
  border-bottom-color: hsla(0, 0%, 20%, 0.9);
}

.tooltip-bottom:hover:before,
.tooltip-bottom:hover:after,
.tooltip-bottom:focus:before,
.tooltip-bottom:focus:after {
  -webkit-transform: translateY(12px);
  -moz-transform:    translateY(12px);
  transform:         translateY(12px);
}

/* Right */
.tooltip-right:before,
.tooltip-right:after {
  bottom: 50%;
  left: 100%;
}

.tooltip-right:before {
  margin-bottom: 0;
  margin-left: -12px;
  border-top-color: transparent;
  border-right-color: #000;
  border-right-color: hsla(0, 0%, 20%, 0.9);
}

.tooltip-right:hover:before,
.tooltip-right:hover:after,
.tooltip-right:focus:before,
.tooltip-right:focus:after {
  -webkit-transform: translateX(12px);
  -moz-transform:    translateX(12px);
  transform:         translateX(12px);
}

/* Move directional arrows down a bit for left/right tooltips */
.tooltip-left:before,
.tooltip-right:before {
  top: 3px;
}

/* Vertically center tooltip content for left/right tooltips */
.tooltip-left:after,
.tooltip-right:after {
  margin-left: 0;
  margin-bottom: -16px;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *


 */



