table tr.placeholder {
  height: 100px;
  list-style-type: none;
  position: relative;
  background-color: #eaeaea;
  box-shadow: 0px 0px 0px 1px rgba(39, 41, 43, 0.15), 0px 1px 2px 0 rgba(0, 0, 0, 0.05);
  margin: 1rem 0em;
  padding: 1em 1em;
  border-radius: 0.2857rem;
  border: none;
}

.ui-sortable .ui-sortable-item {
  float: none !important;
}

.ui-sortable-item div {
  display: inline-block;
}

