$mobile: "(max-width: 500px)"
$tablet: "(max-width: 1023px)"
$desktop: "(min-width: 1024px)"

$red            : #e31c20
$blue           : #5679ac
$black          : #202124

.boxed
  -webkit-box-flex: 1
  -webkit-flex: 1 0 auto
  -ms-flex: 1 0 auto
  flex: 1 0 auto
  padding: 1.5em 1.5em 0
  width: 100%
  min-height: auto !important

.ui.main.container
  padding-top: 108px

.ui.grid.verticalPadded.container
  margin-top: 2em

body
  display: -webkit-box
  display: -webkit-flex
  display: -ms-flexbox
  display: flex
  -webkit-box-orient: vertical
  -webkit-box-direction: normal
  -webkit-flex-direction: column
  -ms-flex-direction: column
  flex-direction: column
  height: 100%
  min-height: 100%
  width: 100%
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box
  box-sizing: border-box

  &>footer
    -webkit-box-flex: 0
    -webkit-flex: none
    -ms-flex: none
    flex: none
    display: block

  &>.top.menu
    border: 0
    -webkit-box-flex: 0
    -webkit-flex: none
    -ms-flex: none
    flex: none
    position: relative


#top-menu-links
  display: inline !important

  &>div
    display: inline

  &>div>a
    display: inline-block
    font-size: 11.2px

#top-inverted-menu-container
  display: block

#top-inverted-menu-left
  display: block
  float: left
  margin-right: 0 !important
  font-size: 0

  .ui.dropdown
    .menu
      font-size: 1.2em

  a.main,div.item
    display: inline-block
    height: 37px
    font-size: 11.2px
    line-height: 1.25rem

#top-inverted-menu-right
  display: block
  float: right

  .item:before
    display: none

@media screen and (max-width:769px)
  #top-menu-links
    &>div>a
      font-size: 1.2rem

  #top-inverted-menu-left, #top-inverted-menu-right
    a
      font-size: 1.2rem

  #top-inverted-menu-right
    margin-top: 1rem

.padding-top
  margin-top: 5.5em !important

.padding-top-tiny
  margin-top: 2em !important

.padding-bottom
  padding-bottom: 3.5em !important

.padding-bottom-tiny
  padding-bottom: 2em !important

.pointer
  cursor: pointer

p
  &.big
    font-size: 1.2em

.control.middle.aligned
  position: absolute
  top: 50%

.bolded
  font-weight: bold !important

.uppercase
  text-transform: uppercase !important

.left.aligned.item
  text-align: left

#logo
  display: inline-block
  background: image-url('logo.svg') no-repeat 0px 0px
  background-size: 165px 30px
  width: 165px
  height: 35px

.price .ui.list .list > .item .description, .ui.list > .item .description
  color: #86888b
  margin-bottom: 4px

.track img.ui.red.bordered.image
  border: 2px solid $red

.ui.distance.list
  margin-left: 3em

  .item
    margin-left: 0
    margin-top: 1.3em
    min-width: 30%

.ui.distance.sub.header
  font-size: 0.67em

.ui.distance.menu
  margin-top: 2em
  border: 1px solid rgba(34, 36, 38, 0.15)

.ui.verticalPadded.grid
  padding: 0.6em 0 0.6em

.ui.very.basic.schedule.table
  tr
    border-bottom: none

.ui.horizontal.info.list
  width: 100%
  .item:not(:first-child)
    padding-left: 1em
  .item, .item:last-child
    min-width: 30%
    padding-top: 1em
    padding-bottom: 1em
  .sub.header
    margin-bottom: 0.5em
  .value
    font-size: 0.9em

.welcome
  background: asset-url('bg.png') no-repeat 50% 0
  background-origin: padding-box
  background-size: auto
  height: 719px

  h1.ui.header
    font-family: 'HelveticaNeue', Arial, sans-serif
    margin-top: 130px
    font-size: 3.8em

  h2.ui.header
    margin-top: 57px
    font-weight: normal
    font-size: 2.7rem
    text-transform: uppercase

  h3.ui.header
    margin-top: 20px
    margin-bottom: 60px
    font-weight: normal
    font-size: 1.5rem

@media #{$tablet}
  .welcome
    height: 450px
    h1.ui.header
      font-size: 2em
      margin-top: 50px
    h2.ui.header
      font-size: 1.5em
    background: asset-url('bg.png') no-repeat 0 0

  #top-inverted-menu-left
    float: none

    a.item
      display: block
      width: 100%
      text-align: center

      &:before
        display: none

  #top-inverted-menu-right
    float: none
    text-align: center

    .item
      display: block
      margin-bottom: 10px

  #top-inverted-menu-container
    width: 100% !important
    float: none

  #mainmenu-container
    padding-left: 0
    padding-right: 0

  body>.boxed>.container
    padding-top: 70px

.info-block
  border-bottom: 1px solid rgba(34, 36, 38, 0.15)

.ui.segment.result-buttons
  padding: 3em 0 3em

.contacts
  font-size: 1.2em

.socials
  line-height: 5

@media #{$tablet}
  .track
    max-width: 100%

  body
    &>.top.menu
      position: fixed

  #sign-forms
    a
      display: block

      &:first-child
        margin-bottom: 1em


@media #{$mobile}
  .track
    max-width: 100%

  .boxed
    &>.container
      padding-top: 0
      padding-left: 0
      padding-right: 0
  body > .top.menu
    position: static !important

@media #{$desktop}
  #sign-forms
    a.enter
      padding: 0.4rem
      margin: -0.4rem 0.3rem

  .socials .ui.large.button
    width: 30%

  #mainmenu-container
    margin-top: 37px

  #main-nav
    position: absolute
    top: 0
    left: 0
    right: 0

  #mainmenu-parent
    position: static

  body
    &>.top.menu
      position: fixed
      height: 108px

body footer
  position: relative !important

.footer
  margin-bottom: 0 !important
  a
    color: #fff
    text-decoration: underline

.ui.menu.shadow
  -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1)
  -khtml-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1)
  -moz-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1)
  -ms-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1)
  -o-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1)
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1)

#main-nav
  font-size: 0.8em

.ui.basic.table th, .ui.basic.table td
  max-width: 210px

.ui.selection.dropdown
  min-width: 12em !important
  .menu
    margin-bottom: 12px !important

.boxed
  padding-bottom: 0 !important

  &>.container
    margin-bottom: 50px

.ui.cards > .card > .content, .ui.card > .content
  overflow: hidden

@media only screen and (max-width: 767px)
  body .ui.stackable.cards
    width: 100% !important
    overflow: hidden

.description, .meet_card_title, .break-word
  word-break: break-word
  word-wrap: break-word
  display: block

.ui.card
  .ui.green.bottom.attached.button
    padding-left: 0
    padding-right: 0

.ui.table.zebra tbody tr:nth-child(4n+1)
  background-color: rgba(0,0,0,0.05) !important

.ui-sortable-item div
  display: inherit

.ui-sortable-item
  padding: 1em
  border: 1px solid #d4d4d5
  border-top: none

.ui-sortable-item:first-child
  border-top: 1px solid #d4d4d5