$mobile: "(max-width: 500px)"
$tablet: "(max-width: 1023px)"
$desktop: "(min-width: 1024px)"

$red            : #e31c20
$blue           : #5679ac
$black          : #202124

#mainmenu-parent
  .ui.secondary.menu
    .item
      text-transform: uppercase
      font-weight: 600

    .item:hover
      border-bottom-color: #0067A9

    border: none

#mainmenu-container
  .ui.verticalPadded.grid
    padding: 0
    width: 100% !important
    -moz-box-sizing: border-box
    -webkit-box-sizing: border-box
    box-sizing: border-box
    background: #fff
    margin: 0 !important

a#under-logo
  //background: image-url('under_logo.svg') no-repeat 0px 0px
  display: block
  width: 173px
  height: 28px
  margin-top: 4px
  //background-size: auto 28px
  box-sizing: border-box
  -moz-box-sizing: border-box
  -webkit-box-sizing: border-box
  color: rgb(0, 0, 0)
  text-decoration: none
  transform: skewX(-19deg)
  outline: none
  border-radius: 4px
  border: 1px solid #BEBEBE
  position: relative
  z-index: 1
  font-weight: bold
  font-family: 'DINpro', 'Helvetica Neue', Arial, Helvetica, sans-serif
  line-height: 24px
  font-size: 13px
  padding-left: 28px

#burger-check
  display: block
  margin-top: 0.6em
  display: none

#mainmenu-parent
  overflow: hidden
  display: block
  -moz-box-sizing: border-box
  -webkit-box-sizing: border-box
  box-sizing: border-box
  padding: 0

.burger-check:checked ~ #mainmenu-parent
  display: block

#mainmenu-parent ul
  text-align: center
  display: block
  font-size: 0
  padding: 1rem 0 0

  li
    display: inline-block
    font-size: 0.92857143rem

.burger
  display: none

@media #{$desktop}

  #mainmenu-parent
    width: 81.25% !important

@media #{$tablet}
  #mainmenu-parent
    display: none

    ul
      padding: 0

  #mainmenu-container
    width: 100% !important

  #mainmenu-container
    .ui.verticalPadded.grid
      justify-content: space-between

  #logo-container
    width: auto !important

    a
      display: block

  .burger
    display: block
    position: relative
    float: left
    border: 0
    background: none
    outline: 0
    padding: 20px 20px 21px
    cursor: pointer
    width: 28px !important
    height: 26px
    box-sizing: content-box

    &:before, &:after
      content: ""
      display: block
      position: absolute
      left: 14px
      width: 28px

    &:before
      top: 20px
      height: 14px
      border-bottom: 4px solid #{$black }
      border-top: 4px solid #{$black }
      z-index: 2

    &:after
      z-index: 3
      border-top: 4px solid #{$black }
      top: 29px
      height: 0

@media #{$mobile}
  #mainmenu-parent
    display: none

  #mainmenu-container
    padding-left: 0
    padding-right: 0

    &>.container
      padding-left: 0 !important
      padding-right: 0 !important

@media screen and (max-width:769px)
  #mainmenu-parent ul li, #mainmenu-parent ul li a
    display: block
    margin-left: 0
    margin-right: 0
    font-size: 1.2rem