<!DOCTYPE html>
<html>
<head>
  <title>Cloudrift</title>
  <%= csrf_meta_tags %>
  <%= webpack_include_tag 'jquery_assets/jquery' %>
  <%= webpack_include_style 'semantic_assets/semantic.css' %>
  <%= webpack_include_style 'react_assets/sortable.css' %>

  <%= webpack_include_tag 'semantic_assets/semantic' %>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <script>
     var jQuery = $;
  </script>
</head>
<body>

<%= yield %>

</body>
</html>
